.popup .jq-selectbox.jqselect.width-auto {
	width: 568px;
	height: 29px;
	border: 1px solid rgba(0,0,0,.1);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	line-height: 29px;	
	background-image: url("../img/bottom.png");
	background-repeat: no-repeat;
	background-position: 97% 50%;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.popup .jq-selectbox__dropdown {
	width: 100%;
	border: 1px solid rgba(0,0,0,.1);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	line-height: 29px;	
}

.popup .jq-selectbox__dropdown ul{
	padding: 0;
	margin: 5px 0;
}

.popup .jq-selectbox__dropdown ul li{
	padding-left: 15px;
	cursor: pointer;
}

.popup .jq-selectbox__dropdown ul li:hover {
    background: #4764cd;
    color: #FFF;
}


.popup .jq-selectbox__select {
	padding-left: 15px;
}

.popup .jq-selectbox__select-text {
    color: #3f59b7;
}
.search-fac .jqselect.width-auto {
	width: 360px;
	height: 29px;
	border: 1px solid rgba(0,0,0,.1);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
	line-height: 29px;	
	background-image: url("../img/bottom.png");
	background-repeat: no-repeat;
	background-position: 97% 50%;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.showMap {
	display: block;
}