.container {
  width: 980px;
  margin: 0 auto;
  margin: 0 auto;
  position: relative; }
  .container:before, .container:after {
    display: table;
    content: " "; }
  .container:after {
    clear: both; }

a {
  text-decoration: none; }

.application {
  display: inline-block;
  position: relative;
  height: 160px;
  width: 100%;
  background-image: url("../img/appbg.png");
  background-position: 50% 80%;
  background-repeat: no-repeat; }
  .application__but {
    display: block;
    width: 660px;
    position: relative;
    margin: 50px auto; }
    .application__but a {
      clear: both;
      margin: 0 20px;
      text-decoration: none; }
      .application__but a:hover {
        opacity: 0.8; }

.footer {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  margin: 0 0 15px;
  height: auto; }
  .footer__soc {
    text-align: center;
    margin: 10px auto;
    display: block;
    width: 160px; }
    .footer__soc i {
      display: block;
      float: left;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      background-position: center; }
      .footer__soc i a {
        display: block;
        width: 100%;
        height: 100%; }
    .footer__soc .fb {
      background-image: url("../img/1409506812_Facebook-128.png"); }
    .footer__soc .tw {
      background-image: url("../img/1409506837_Twitter-128.png"); }
    .footer__soc .like {
      background-image: url("../img/1409506972_like-128.png"); }
    .footer__soc .cloud {
      background-image: url("../img/1409507197_519929-27_Cloud-128.png"); }

.block__infolinks, .block__login {
  text-align: center;
  margin: 20px 0; }
  .block__infolinks p, .block__login p {
    display: inline-block;
    margin-left: 10px; }
  .block__infolinks a, .block__login a {
    margin: 0 15px 0 5px; }

.profileselect {
  display: block;
  float: left;
  width: 100%;
  height: 155px;
  margin-bottom: 25px;
  background-image: url("../img/profilebg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .profileselect ol {
    list-style-type: decimal;
    display: block;
    padding: 25px 0;
    margin: 30px auto 0;
    background-image: url("../img/olbg.png");
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 815px; }
    .profileselect ol li {
      display: inline-block;
      margin: 0 25px;
      color: #FFF;
      font-weight: bold;
      font-size: 24px; }
      .profileselect ol li a {
        color: #FFF;
        text-decoration: underline;
        font-weight: bold;
        font-size: 24px; }
  .profileselect p {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -9px;
    color: #FFF;
    text-align: center;
    font-size: 13px; }

.find-timetable {
  display: block;
  position: relative;
  margin-bottom: 25px; }
  .find-timetable h5 {
    font-size: 11px;
    font-weight: bold;
    color: #666;
    padding-left: 20px; }
  .find-timetable--box {
    display: block;
    position: relative;
    width: 100%;
    background-image: url("../img/bgform.png");
    padding: 25px 20px 35px;
    border-bottom: 5px solid #182F95;
    border-top: 1px solid #DBDBDB; }
  .find-timetable--form--input {
    display: inline-block;
    width: 830px;
    height: 29px;
    line-height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url("../img/figure.png");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 35px; }
  .find-timetable--form--sub {
    display: inline-block;
    height: 28px;
    width: 80px;
    background-color: #364DB3;
    font-weight: bold;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #182F95;
    margin-left: 30px; }

.block__login {
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
  background-position: 50%; }
  .block__login span {
    background-color: #FFF;
    padding: 0 5px 0 5px; }

.popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #999;
  padding-top: 5%; }
  .popup__box {
    display: block;
    margin: 0 auto;
    width: 570px;
    height: 412px;
    border: 6px solid #4f6bd3;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    border-radius: 11px;
    background-color: #fff;
    padding: 35px; }
    .popup__box h2 {
      margin-top: 0;
      color: #414141;
      font-family: "Arial";
      font-size: 20px; }
    .popup__box label {
      color: #999;
      font-family: "Arial";
      font-size: 11px;
      margin-bottom: 5px;
      display: block; }
  .popup__form--input-box {
    display: block;
    float: left;
    width: 266px;
    position: relative;
    margin: 20px 0; }
    .popup__form--input-box:last-of-type {
      margin-left: 38px; }
  .popup__form--inp {
    width: 249px;
    height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 15px; }
  .popup__form--txt {
    resize: none;
    width: 550px;
    height: 109px;
    line-height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    margin-bottom: 20px; }
  .popup__form--sub {
    font-weight: bold;
    text-align: center;
    width: 102px;
    height: 29px;
    line-height: 29px;
    display: inline-block;
    background: #4259bf;
    font-weight: bold;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #182F95;
    cursor: pointer; }
    .popup__form--sub:hover {
      background: darken #fff, 15%; }

/*# sourceMappingURL=style.css.map */
