.container {
  width: 980px;
  margin: 0 auto;
  margin: 0 auto;
  position: relative; }
  .container:before, .container:after {
    display: table;
    content: " "; }
  .container:after {
    clear: both; }

a {
  text-decoration: none; }

.application {
  display: inline-block;
  position: relative;
  height: 160px;
  width: 100%;
  background-image: url("../img/appbg.png");
  background-position: 50% 80%;
  background-repeat: no-repeat; }
  .application__but {
    display: block;
    width: 660px;
    position: relative;
    margin: 50px auto; }
    .application__but a {
      clear: both;
      margin: 0 20px;
      text-decoration: none; }
      .application__but a:hover {
        opacity: 0.8; }

.footer {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  margin: 0 0 15px;
  height: auto; }
  .footer__soc {
    text-align: center;
    margin: 10px auto;
    display: block;
    width: 160px; }
    .footer__soc i {
      display: block;
      float: left;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      background-position: center; }
      .footer__soc i a {
        display: block;
        width: 100%;
        height: 100%; }
    .footer__soc .fb {
      background-image: url("../img/1409506812_Facebook-128.png"); }
    .footer__soc .tw {
      background-image: url("../img/1409506837_Twitter-128.png"); }
    .footer__soc .like {
      background-image: url("../img/1409506972_like-128.png"); }
    .footer__soc .cloud {
      background-image: url("../img/1409507197_519929-27_Cloud-128.png"); }

.block__infolinks, .block__login {
  text-align: center;
  margin: 20px 0;
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
  background-position: 50% 40%; }
  .block__infolinks span, .block__login span {
    background-color: #FFF;
    padding: 0 5px 0 5px; }
  .block__infolinks p, .block__login p {
    display: inline-block;
    margin-left: 10px; }
  .block__infolinks a, .block__login a {
    margin: 0 15px 0 5px; }

.block__nextday {
  margin: 20px 0;
  background-image: url("../img/line.png");
  background-repeat: repeat-x;
  background-position: 50% 40%; }
  .block__nextday span {
    background-color: #FFF;
    padding: 0 0px 0 15px;
    margin: 0 auto;
    display: block;
    width: 300px; }
  .block__nextday a {
    width: 268px;
    height: 29px;
    display: block;
    background: url("../img/arrow.png") no-repeat 258px 50%, linear-gradient(to bottom, #435ac0, #283fa5);
    color: #fff;
    font-size: 14px;
    line-height: 29px;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #3047ad; }
    .block__nextday a:hover {
      background: url("../img/arrow.png") no-repeat 258px 50%, linear-gradient(to bottom, #576ed4, #435ac0);
      color: #FFF; }

.profileselect {
  display: block;
  float: left;
  width: 100%;
  height: 155px;
  margin-bottom: 25px;
  background-image: url("../img/profilebg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .profileselect ol {
    list-style-type: decimal;
    display: block;
    padding: 25px 0;
    margin: 30px auto 0;
    background-image: url("../img/olbg.png");
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    width: 815px; }
    .profileselect ol li {
      display: inline-block;
      margin: 0 25px;
      color: #FFF;
      font-weight: bold;
      font-size: 24px; }
      .profileselect ol li a {
        color: #FFF;
        text-decoration: underline;
        font-weight: bold;
        font-size: 24px; }
  .profileselect p {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -9px;
    color: #FFF;
    text-align: center;
    font-size: 13px; }

.find-timetable {
  display: block;
  position: relative;
  margin-bottom: 25px; }
  .find-timetable h5 {
    font-size: 11px;
    font-weight: bold;
    color: #666;
    padding-left: 20px; }
  .find-timetable--box, .search__box {
    display: block;
    position: relative;
    background-image: url("../img/bgform.png");
    padding: 25px 20px 35px;
    border-bottom: 5px solid #182F95;
    border-top: 1px solid #DBDBDB; }
  .find-timetable--form--input {
    display: inline-block;
    width: 790px;
    height: 29px;
    line-height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url("../img/figure.png");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 35px; }
  .find-timetable--form--sub {
    display: inline-block;
    height: 28px;
    width: 80px;
    background-color: #364DB3;
    font-weight: bold;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #182F95;
    margin-left: 30px; }

.popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #999;
  padding-top: 5%; }
  .popup__box {
    display: block;
    margin: 0 auto;
    width: 570px;
    height: 412px;
    border: 6px solid #4f6bd3;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    border-radius: 11px;
    background-color: #fff;
    padding: 35px; }
    .popup__box h2 {
      margin-top: 0;
      color: #414141;
      font-family: "Arial";
      font-size: 20px; }
    .popup__box label {
      color: #999;
      font-family: "Arial";
      font-size: 11px;
      margin-bottom: 5px;
      display: block; }
  .popup__form--input-box {
    display: block;
    float: left;
    width: 266px;
    position: relative;
    margin: 20px 0; }
    .popup__form--input-box:last-of-type {
      margin-left: 38px; }
  .popup__form--inp {
    width: 249px;
    height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 15px; }
  .popup__form--txt {
    resize: none;
    width: 550px;
    height: 109px;
    line-height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    margin-bottom: 20px; }
  .popup__form--sub {
    font-weight: bold;
    text-align: center;
    width: 102px;
    height: 29px;
    line-height: 29px;
    display: inline-block;
    background: #4259bf;
    font-weight: bold;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #182F95; }
    .popup__form--sub:hover {
      background: darken #4259bf, 15%; }

.maincontent {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 125px; }

.search {
  display: block;
  position: relative; }
  .search__title {
    background-color: #F7F7F7;
    padding: 0 15px; }
    .search__title h4 {
      color: #656565;
      font-family: "Arial";
      font-size: 11px;
      font-weight: bold;
      padding: 10px 0;
      margin: 0; }
  .search__box label {
    color: #999;
    font-family: "Arial";
    font-size: 11px;
    margin-bottom: 5px;
    display: block; }
  .search__box-butts {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 8px; }
  .search__box #search__status-styler {
    background-color: #4F66CC;
    width: 195px;
    height: 29px;
    border: 1px solid #3047AD;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    background-image: url("../img/bot_wt.png");
    background-repeat: no-repeat;
    background-position: 97% 50%;
    line-height: 29px;
    color: #FFF;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    margin-right: 10px; }
  .search__box .jq-selectbox__dropdown {
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 29px; }
    .search__box .jq-selectbox__dropdown ul {
      padding: 0;
      margin: 5px 0; }
      .search__box .jq-selectbox__dropdown ul li {
        padding-left: 5px;
        cursor: pointer;
        color: #000;
        font-weight: normal;
        text-shadow: none; }
        .search__box .jq-selectbox__dropdown ul li:hover {
          background: #4764cd;
          color: #FFF; }
  .search__box .my_group, .search__box .alarm, .search__box .my_coments, .search__box .favorites, .search__box .my_tasks {
    background: #8fbf2f;
    background: url("../img/group_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/group_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fbf2f), color-stop(100%, #6aac13));
    background: url("../img/group_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/group_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/group_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/group_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #8fbf2f 0%, #6aac13 100%);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 10px 10px 35px;
    text-decoration: none;
    color: #fff;
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    margin: 0 10px; }
    .search__box .my_group:hover, .search__box .alarm:hover, .search__box .my_coments:hover, .search__box .favorites:hover, .search__box .my_tasks:hover {
      background: #6aac13;
      background: url("../img/group_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/group_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aac13), color-stop(100%, #8fbf2f));
      background: url("../img/group_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/group_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/group_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/group_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #6aac13 0%, #8fbf2f 100%); }
  .search__box .alarm {
    background: url("../img/clock_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/clock_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fbf2f), color-stop(100%, #6aac13));
    background: url("../img/clock_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/clock_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/clock_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/clock_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #8fbf2f 0%, #6aac13 100%); }
    .search__box .alarm:hover {
      background: #6aac13;
      background: url("../img/clock_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/clock_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aac13), color-stop(100%, #8fbf2f));
      background: url("../img/clock_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/clock_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/clock_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/clock_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #6aac13 0%, #8fbf2f 100%); }
  .search__box .my_coments {
    background: url("../img/comm_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/comm_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fbf2f), color-stop(100%, #6aac13));
    background: url("../img/comm_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/comm_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/comm_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/comm_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #8fbf2f 0%, #6aac13 100%); }
    .search__box .my_coments:hover {
      background: #6aac13;
      background: url("../img/comm_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/comm_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aac13), color-stop(100%, #8fbf2f));
      background: url("../img/comm_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/comm_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/comm_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/comm_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #6aac13 0%, #8fbf2f 100%); }
  .search__box .favorites {
    background: url("../img/favorit_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/favorit_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fbf2f), color-stop(100%, #6aac13));
    background: url("../img/favorit_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/favorit_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/favorit_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/favorit_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #8fbf2f 0%, #6aac13 100%); }
    .search__box .favorites:hover {
      background: #6aac13;
      background: url("../img/favorit_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/favorit_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aac13), color-stop(100%, #8fbf2f));
      background: url("../img/favorit_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/favorit_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/favorit_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/favorit_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #6aac13 0%, #8fbf2f 100%); }
  .search__box .my_tasks {
    background: url("../img/task_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/task_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fbf2f), color-stop(100%, #6aac13));
    background: url("../img/task_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/task_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/task_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #8fbf2f 0%, #6aac13 100%);
    background: url("../img/task_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #8fbf2f 0%, #6aac13 100%); }
    .search__box .my_tasks:hover {
      background: #6aac13;
      background: url("../img/task_icon.png") no-repeat 10px 50%, -moz-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/task_icon.png") no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6aac13), color-stop(100%, #8fbf2f));
      background: url("../img/task_icon.png") no-repeat 10px 50%, -webkit-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/task_icon.png") no-repeat 10px 50%, -o-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/task_icon.png") no-repeat 10px 50%, -ms-linear-gradient(top, #6aac13 0%, #8fbf2f 100%);
      background: url("../img/task_icon.png") no-repeat 10px 50%, linear-gradient(to bottom, #6aac13 0%, #8fbf2f 100%); }
  .search__container {
    display: inline-block;
    position: relative;
    margin: 15px 0 0;
    padding: 25px 0 0;
    border-top: 2px dashed #d8d8d8; }
    .search__container-left {
      width: 360px;
      display: block;
      float: left; }
      .search__container-left label {
        color: #999;
        font-family: "Arial";
        font-size: 11px;
        margin-bottom: 5px;
        display: block; }
      .search__container-left #search-city-styler, .search__container-left #search-subj-styler, .search__container-left #search-fac-styler {
        width: 360px;
        height: 29px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #fff;
        -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        line-height: 29px;
        background-image: url("../img/bottom.png");
        background-repeat: no-repeat;
        background-position: 97% 50%;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 10px; }
        .search__container-left #search-city-styler .jq-selectbox__dropdown, .search__container-left #search-subj-styler .jq-selectbox__dropdown, .search__container-left #search-fac-styler .jq-selectbox__dropdown {
          width: 358px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          background-color: #fff;
          -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          line-height: 29px; }
          .search__container-left #search-city-styler .jq-selectbox__dropdown ul, .search__container-left #search-subj-styler .jq-selectbox__dropdown ul, .search__container-left #search-fac-styler .jq-selectbox__dropdown ul {
            padding: 0;
            margin: 5px 0; }
            .search__container-left #search-city-styler .jq-selectbox__dropdown ul li, .search__container-left #search-subj-styler .jq-selectbox__dropdown ul li, .search__container-left #search-fac-styler .jq-selectbox__dropdown ul li {
              padding-left: 5px;
              cursor: pointer; }
              .search__container-left #search-city-styler .jq-selectbox__dropdown ul li:hover, .search__container-left #search-subj-styler .jq-selectbox__dropdown ul li:hover, .search__container-left #search-fac-styler .jq-selectbox__dropdown ul li:hover {
                background: #4764cd;
                color: #FFF; }
      .search__container-left .jq-selectbox__select {
        padding-left: 5px; }
        .search__container-left .jq-selectbox__select-text {
          color: #3f59b7; }
    .search__container-right {
      width: 560px;
      display: block;
      float: left;
      margin-left: 20px; }
      .search__container-right label {
        color: #999;
        font-family: "Arial";
        font-size: 11px;
        margin-bottom: 5px;
        display: block; }
      .search__container-right #search-vuz-styler {
        width: 557px;
        height: 29px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #fff;
        -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        line-height: 29px;
        background-image: url("../img/bottom.png");
        background-repeat: no-repeat;
        background-position: 97% 50%;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 10px; }
        .search__container-right #search-vuz-styler .jq-selectbox__dropdown {
          width: 558px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          background-color: #fff;
          -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          line-height: 29px; }
          .search__container-right #search-vuz-styler .jq-selectbox__dropdown ul {
            padding: 0;
            margin: 5px 0; }
            .search__container-right #search-vuz-styler .jq-selectbox__dropdown ul li {
              padding-left: 5px;
              cursor: pointer; }
              .search__container-right #search-vuz-styler .jq-selectbox__dropdown ul li:hover {
                background: #4764cd;
                color: #FFF; }
      .search__container-right .jq-selectbox__select {
        padding-left: 5px; }
        .search__container-right .jq-selectbox__select-text {
          color: #3f59b7; }
      .search__container-right #search-name-styler, .search__container-right #search-group-styler {
        width: 185px;
        height: 29px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #fff;
        -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
        line-height: 29px;
        background-image: url("../img/bottom.png");
        background-repeat: no-repeat;
        background-position: 97% 50%;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 10px;
        float: left;
        display: block;
        font-size: 11px; }
        .search__container-right #search-name-styler .jq-selectbox__dropdown, .search__container-right #search-group-styler .jq-selectbox__dropdown {
          width: 183px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          background-color: #fff;
          -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
          line-height: 29px; }
          .search__container-right #search-name-styler .jq-selectbox__dropdown ul, .search__container-right #search-group-styler .jq-selectbox__dropdown ul {
            padding: 0;
            margin: 5px 0; }
            .search__container-right #search-name-styler .jq-selectbox__dropdown ul li, .search__container-right #search-group-styler .jq-selectbox__dropdown ul li {
              padding-left: 5px;
              cursor: pointer; }
              .search__container-right #search-name-styler .jq-selectbox__dropdown ul li:hover, .search__container-right #search-group-styler .jq-selectbox__dropdown ul li:hover {
                background: #4764cd;
                color: #FFF; }
  .search-teacherblock {
    width: 185px;
    float: left;
    display: block;
    position: relative;
    margin-right: 25px; }
  .search-dateblock {
    display: block;
    float: left;
    position: relative; }
    .search-dateblock .inputDate {
      width: 113px;
      height: 29px;
      margin-right: 30px;
      padding-left: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
      line-height: 29px;
      background-image: url("../img/datepic.png");
      background-repeat: no-repeat;
      background-position: 90% 50%;
      cursor: pointer; }
  .search-sub {
    display: block;
    float: left;
    width: 200px;
    height: 29px;
    cursor: pointer;
    background-color: #4F66CC;
    border: 1px solid #3047AD;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 24px;
    color: #FFF;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 19px; }
    .search-sub:hover {
      background-color: #344cb4; }

.timetable {
  display: block;
  position: relative;
  margin-top: 30px;
  background-color: #FFF; }
  .timetable__head {
    padding: 0 20px 0;
    height: 33px;
    margin-top: 30px;
    border: 1px solid #F0F1F4;
    border-left: none;
    border-right: none;
    line-height: 33px;
    background-color: #FBFBFB; }
    .timetable__head h4 {
      margin: 0 5px 0 0;
      display: inline-block;
      color: #656565;
      font-family: "Arial";
      font-size: 11px;
      font-weight: bold; }
    .timetable__head .timetable-day {
      color: #77b31d; }
    .timetable__head h3 {
      display: inline-block;
      color: #656565;
      font-family: "Arial";
      font-size: 14px;
      font-weight: bold;
      margin: 0 15px 0 10px; }
    .timetable__head-group {
      background-image: url("../img/timetable_icon.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
      padding-left: 25px; }
    .timetable__head .add_favor {
      float: right;
      background-image: url("../img/add_fav.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
      padding-left: 25px; }
  .timetable__list {
    display: block;
    padding: 0 20px 0;
    background-color: #FBFBFB;
    border-bottom: 1px solid #F0F1F4; }
    .timetable__list-line, .timetable__list-line--comm {
      border-bottom: 1px dashed #e1e1e1;
      height: 65px;
      line-height: 65px; }
      .timetable__list-line--comm {
        border-bottom: none; }
      .timetable__list-line h2, .timetable__list-line--comm h2 {
        display: inline-block;
        margin: 0;
        color: #656565;
        font-family: "Arial";
        font-size: 30px;
        font-weight: bold; }
      .timetable__list-line h3, .timetable__list-line--comm h3 {
        display: inline-block;
        color: #656565;
        font-family: "Arial";
        font-size: 14px;
        font-weight: bold;
        margin: 0 15px 0 10px;
        vertical-align: super; }
      .timetable__list-line--buts {
        float: right; }
        .timetable__list-line--buts .audience {
          float: left;
          background-image: url("../img/map.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
          padding: 0 0 0 35px;
          margin-right: 20px; }
        .timetable__list-line--buts i {
          display: block;
          float: left;
          position: relative;
          width: 26px;
          height: 25px;
          margin: 20px 0 20px 10px;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
          background-position: center;
          opacity: 0.5; }
          .timetable__list-line--buts i a {
            display: block;
            width: 100%;
            height: 100%; }
          .timetable__list-line--buts i:hover {
            opacity: 1; }
        .timetable__list-line--buts .mess {
          background-image: url("../img/mess.png"); }
        .timetable__list-line--buts .add {
          background-image: url("../img/add.png"); }
        .timetable__list-line--buts .write {
          background-image: url("../img/write.png"); }
        .timetable__list-line--buts .comm {
          background-image: url("../img/comm.png"); }
        .timetable__list-line--buts .audbl {
          background-image: url("../img/audblue.png"); }
    .timetable__list-soc {
      display: inline-block;
      padding: 10px 0; }
      .timetable__list-soc a {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%; }
      .timetable__list-soc .mc {
        background: url("../img/soc-icons.png") 0 0; }
      .timetable__list-soc .vk {
        background: url("../img/soc-icons.png") -21px 0; }
      .timetable__list-soc .fb {
        background: url("../img/soc-icons.png") -42px 0; }
      .timetable__list-soc .tw {
        background: url("../img/soc-icons.png") -63px 0; }
      .timetable__list-soc .ok {
        background: url("../img/soc-icons.png") -84px 0; }
      .timetable__list-soc .ml {
        background: url("../img/soc-icons.png") -105px 0; }
      .timetable__list-soc .lj {
        background: url("../img/soc-icons.png") -126px 0; }
      .timetable__list-soc .ff {
        background: url("../img/soc-icons.png") -147px 0; }
      .timetable__list-soc .fl {
        background: url("../img/soc-icons.png") -168px 0; }
      .timetable__list-soc .gp {
        background: url("../img/soc-icons.png") -189px 0; }
      .timetable__list-soc .br {
        background: url("../img/soc-icons.png") -210px 0; }
  .timetable__commentbox {
    margin: 15px 0; }
    .timetable__commentbox div#cke_1_contents {
      height: 135px !important; }
    .timetable__commentbox-sub {
      display: inline-block;
      width: 115px;
      height: 29px;
      cursor: pointer;
      background-color: #4F66CC;
      border: 1px solid #3047AD;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      line-height: 24px;
      color: #FFF;
      font-family: "Arial";
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      text-align: center;
      margin-top: 19px; }
      .timetable__commentbox-sub:hover {
        background-color: #344cb4; }
    .timetable__commentbox--board {
      margin: 20px 0 5px;
      border-bottom: 1px dashed #e1e1e1; }
      .timetable__commentbox--board--top {
        margin: 10px 0; }
      .timetable__commentbox--board--bot {
        margin: 10px 0 10px 0;
        border-left: 2px solid rgba(209, 211, 209, 0.5);
        padding-left: 30px; }
      .timetable__commentbox--board-head_img {
        display: block;
        float: left;
        width: 34px;
        height: 34px;
        margin-right: 10px;
        overflow: hidden; }
      .timetable__commentbox--board-head_info {
        display: block; }
        .timetable__commentbox--board-head_info a {
          color: #1f3f9d;
          font-family: "Arial";
          font-size: 14px;
          font-weight: bold; }
        .timetable__commentbox--board-head_info small {
          display: block;
          opacity: 0.75;
          color: #333;
          font-family: "Tahoma";
          font-size: 11px;
          margin-top: 3px; }
      .timetable__commentbox--board p {
        padding: 10px 20px;
        background-color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.07);
        font-size: 12px;
        line-height: 20px; }
  .timetable__editing {
    display: inline-block;
    padding-bottom: 25px; }
    .timetable__editing-line {
      display: inline-block;
      border-bottom: 1px dashed #e1e1e1;
      padding: 25px 0; }
    .timetable__editing .del_lesson {
      display: inline-block;
      color: #f00;
      font-family: "Arial";
      font-size: 14px;
      font-weight: bold;
      margin-top: 25px;
      margin-left: 20px; }
      .timetable__editing .del_lesson:hover {
        text-decoration: underline; }
    .timetable__editing .subj_name {
      width: 360px;
      height: 29px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
      padding-left: 5px; }

.timepicker-box {
  display: inline-block;
  position: relative;
  width: 80px;
  margin-left: 10px; }
  .timepicker-box input.timepicker {
    width: 80px;
    height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url("../img/timepick.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;
    cursor: pointer;
    padding-left: 5px; }
  .timepicker-box:last-of-type {
    margin: 0 0 0 30px; }

/*# sourceMappingURL=style.css.map */
